{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}

<h2>Categories</h2>

{% for category in categories %}
<ul>
    <li>{{ category }}</li>
</ul>

{% endfor %}

<h2>Create a category</h2>
<form action="{% url 'categories' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" type="text" name="category" placeholder="Category name">
    </div>
    <input class="btn btn-primary" type="submit" value="Create category">

</form>

{% else %}

<p>You need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a></p>


{% endif %}

{% endblock %}