{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<div class="container-fluid">
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endif %}
    <h1>Categories</h1>
    <div class="container h-100">
        <div class="my-5">
            <ul class="list-group list-group-horizontal shadow-sm">
                {% for category in categories %}
                <li class="list-group-item flex-fill">{{ category }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class=" my-5">
            <h2>Create a category</h2>
            <form action="{% url 'categories' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <input type="text" name="category" class="form-control" id="category"
                        aria-describedby="categoryHelp">
                    <div id="categoryHelp" class="form-text">Enter a new category.</div>
                </div>
                <button type="submit" class="btn btn-primary">Create New Category</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<p class="text-center my-5">You need to <a href=" {% url 'login' %}">login</a> or <a
        href="{% url 'register' %}">register.</a></p>
{% endif %}

{% endblock %}