{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">

    <div class="container">

        <h2>{{ listing.title }}</h2>
        <div class="row my-3">
            {% if user.is_authenticated %}
            {% if hasWatchers %}
            <form action="{% url 'removeWatchlist' id=listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Remove from Watchlist</button>
            </form>
            {% else %}
            <form action="{% url 'addWatchlist' id=listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm">Add to Watchlist</button>
            </form>
            {% endif %}
            {% endif %}
        </div>

        <img src="{{ listing.image }}" alt="{{ listing.title }}">
        <p class="my-2">{{ listing.description }}.</p>
        <p class="my-2"><strong>Owner:</strong> {{ listing.user }}.</p>
        <h4 class="">${{ listing.start_bid }}</h4>
        <hr>
        <p class=""><small class="text-body-secondary">Created {{ listing.start_date}}</small>
        </p>

    </div>
    <!-- <div class="col">
        <div class="card">
            <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">{{ listing.description }}.</p>
                <hr>
                <p class="card-text"><small class="text-body-secondary">Created {{ listing.start_date}}</small>
                </p>
            </div>
        </div>
    </div> -->

    {% endblock %}