{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">

    <div class="container">

        <h2>{{ listing.title }}</h2>
        <div class="row my-3">
            {% if user.is_authenticated %}
            {% if hasWatchers %}
            <form action="{% url 'removeWatchlist' id=listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Remove from Watchlist</button>
            </form>
            {% else %}
            <form action="{% url 'addWatchlist' id=listing.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm">Add to Watchlist</button>
            </form>
            {% endif %}
            {% endif %}
        </div>

        <img src="{{ listing.image }}" alt="{{ listing.title }}">
        <p class="my-2">{{ listing.description }}.</p>
        <p class="my-2"><strong>Owner:</strong> {{ listing.user }}.</p>
        <p class="my-1"><strong>Start price:</strong></p>
        <h4 class="">${{ listing.start_bid }}</h4>

        <p class="my-1"><strong>Current bid:</strong></p>
        {% for bid in bids %}
        <h4 class="">${{ bid.amount }} by {{ bid.user }}</h4>
        {% empty %}
        <h6>No bids yet.</h6>
        <span>Be the fist one.</span>
        {% endfor %}

        <hr>
        <p class=""><small class="text-body-secondary">Created {{ listing.start_date}}</small>
        </p>


        {% if message %}
        {% if update %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% endif %}


        {% if user.is_authenticated %}
        <form action="{% url 'addBid' id=listing.id %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="newBid" class="form-label">Add Bid</label>
                <input type="number" name="newBid" class="form-control" id="newBid" min="0"
                    aria-describedby="newBidHelp" required>
                <div id="newBidHelp" class="form-text">Must be heigher than the actual price.</div>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
        {% endif %}


        <div class="row my-3">
            <h2>Comments</h2>
            <div class="my-3">
                {% for comment in comments %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div>
                            <h5>{{ comment.user }}</h5>
                            <p>{{ comment.comment }}</p>
                            <p><small>{{ comment.datetime }}</small></p>
                        </div>
                    </li>
                </ul>

                {% empty %}

                <h5>No comments yet.</h5>
                <span>Be the fist one.</span>

                {% endfor %}
            </div>

            {% if user.is_authenticated %}
            <form action="{% url 'addComment' id=listing.id %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="newComment" class="form-label">New Comment</label>
                    <input type="text" name="newComment" class="form-control" id="newComment"
                        aria-describedby="newCommentHelp">
                    <div id="newCommentHelp" class="form-text">Max. 300 character.</div>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
            {% endif %}

        </div>

    </div>


    {% endblock %}