{% extends "auctions/layout.html" %}

{% block body %}

<div class="container-fluid">

    <div class="container">

        <h2>Register</h2>

        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}


        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <div class="form-group">
                    <label for="username" class="form-label">Username:</label>
                    <input class="form-control" autofocus type="text" name="username" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label for="email" class="form-label">Email:</label>
                    <input class="form-control" type="email" name="email" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label for="email" class="form-label">Password:</label>
                    <input class="form-control" type="password" name="password" required>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label for="email" class="form-label">Confirm Password:</label>
                    <input class="form-control" type="password" name="confirmation" required>
                </div>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>

        Already have an account? <a href="{% url 'login' %}">Log in here.</a>

    </div>
</div>

{% endblock %}