{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<div class="container-fluid">

    {% for message in messages %}
    {% if message.tags %}
    <div class="messages alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}"
        role="alert">{{ message }}</div>
    {% endfor %}

    <h1>My account</h1>

    <div class="container my-4">
        <h2>Profile info</h2>
        <form action="{% url 'user' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp"
                    value="{{ user.username }}">
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" name="first_name" class="form-control" id="first_name"
                        aria-describedby="first_nameHelp" value="{{ user.first_name }}">
                </div>
                <div class="col mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" name="last_name" class="form-control" id="last_name"
                        aria-describedby="last_nameHelp" value="{{ user.last_name }}">
                </div>
            </div>
            <div class="mb-4">
                <label for="email" class="form-label">E-Mail</label>
                <input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                    value="{{ user.email }}">
            </div>
            <button type="submit" class="btn btn-primary me-3">Edit</button>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#pswModal"
                data-bs-whatever="psw">Change password</button>
        </form>

        <!-- MODAL -->
        <div class="modal fade" id="pswModal" tabindex="-1" aria-labelledby="pswModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="pswModalLabel">Change password</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'changePSW' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="current_psw" class="col-form-label">Current password</label>
                                <input type="password" class="form-control" name="current_psw" required>
                            </div>
                            <div class="mb-3">
                                <label for="new_psw" class="col-form-label">New password</label>
                                <input type="password" class="form-control" name="new_psw" required>
                            </div>
                            <div class="mb-4">
                                <label for="confirmation" class="col-form-label">Confirm new password</label>
                                <input type="password" class="form-control" name="confirmation" required>
                            </div>
                            <div class="modal-footer mt-3">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Change password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>My bids</h2>
    <form class="row g-3 my-1" action="{% url 'myActiveBids' %}" method="post">
        {% csrf_token %}
        <div class="col-auto">
            <label for="is_active" class="form-label">Active, won or closed auctions?</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-sm" name="is_active" aria-label="Active or closed auctions?">
                <option value="True" selected>Active</option>
                <option value="won">Won</option>
                <option value="False">Closed</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">Select</button>
        </div>
    </form>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 my-1">
        {% for listing in bidListings %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{{ listing.listing.image }}" class="card-img-top" alt="{{ listing.listing.description }}">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.listing.title }}</h5>
                    <p class="card-text">{{ listing.listing.description }}.</p>
                    <a href="{% url 'listing' id=listing.listing.id %}" class="btn btn-primary">Listing details</a>
                    <hr>
                    <p class="card-text"><small class="text-body-secondary">Created
                            {{listing.listing.start_date}}</small>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center my-5">There are no bids.</p>
        {% endfor %}
    </div>

    <h2 class="mt-4">My listings</h2>
    <form class="row g-3 my-1" action="{% url 'myActiveListings' %}" method="post">
        {% csrf_token %}
        <div class="col-auto">
            <label for="is_active" class="form-label">Active or closed auctions?</label>
        </div>
        <div class="col-auto">
            <select class="form-select form-select-sm" name="is_active" aria-label="Active or closed auction?">
                <option value="True">Active</option>
                <option value="False">Closed</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">Select</button>
        </div>
    </form>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 my-1">
        {% for listing in my_listings %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.description }}">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}.</p>
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Listing details</a>
                    <hr>
                    <p class="card-text"><small class="text-body-secondary">Created {{ listing.start_date}}</small>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center my-5">There are no listings.</p>
        {% endfor %}
    </div>
</div>
{% else %}
<p class="text-center my-5">You need to <a href="{% url 'login' %}">login</a> or <a
        href="{% url 'register' %}">register.</a></p>
{% endif %}
{% endblock %}