{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <h1>Watchlist</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4 my-1">
        {% for listing in listings %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.description }}">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}.</p>
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Listing details</a>
                    <hr>
                    <p class="card-text"><small class="text-body-secondary">Created {{ listing.start_date}}</small>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center my-5">There is nothing in the watchlist.</p>
        {% endfor %}
    </div>
</div>
{% else %}
<p class="text-center my-5">You need to <a href=" {% url 'login' %}">login</a> or <a
        href="{% url 'register' %}">register.</a></p>
{% endif %}
{% endblock %}